.inline {
  display: inline-block;
  width: 49%;
  vertical-align: top;
  flex-direction: column;
}

.centered {
  text-align: center;
  margin: 0 auto;
}

.container {
  display: flex;
}

.form {

}

.fileInfo {
  float: right;
  clear: both;
}

.dropzone {
  border: 1px dashed #000;
  padding: 10px;
  text-align: center;
  border-radius: 5px 5px 5px 5px;
}
