@import '../../components/variables.css';

.root {
  margin: 0 auto;
  max-width: var(--max-content-width);
}

.container {
  margin: 0 auto;
}

.column {
  vertical-align: top;
}

.heading {
  margin: 25px 15px;
}

.heading h4 {
  font-size: 22px;
}
