.container {
  height: 30px;
  border: 2px solid #000;
  background: green;
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.bar {
  background: blue;
  padding: 2px 5px;
  height: 100%;
  text-align: right;
  color:#FFF;
  transition: width 0.5s ease-out;
}

.warning {
  background: red;
}
